*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2{
 color: rgb(255, 0, 0);
 font-size:xx-large;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color: rgb(149, 255, 88);
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
